.cst-3d-container {
    position: relative;
    height: 400px;
    overflow: hidden;

    .cst-3d {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
